.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
      margin-top: 150px;
      margin-bottom: 200px;
  }
  
#copy-right-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 2;
   background-color: gray;
    font-size: 20px;
    color:white;
}
